# Editors
.idea/

# Vagrant
.vagrant/

# Backend
/backend/coverage/
/backend/vendor/
/backend/logs/*
!/backend/logs/README.md
.phpunit.result.cache

# Frontend
/frontend/node_modules
/frontend/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*